.movie-card:hover .inner-card-controls,
.movie-card .inner-card-controls:hover {
  opacity: 1;
}


.inner-card-controls {
  display: inline;
  background-color: red;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(0, 0, 0, 0.8);
  border-radius: 5px;
  padding: 3px;
  transition: all 0.3s ease;
}
.movie-card .inner-card-controls {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.inner-card-controls:hover {
  opacity: 1;
}

.ctrl-btn {
  color: #fefefe;
  background-color: transparent;
  border: none;
  transition: all 0.3s ease;
  font-size: 1.25rem;
  padding: 5px;
  margin: 0;
}

.ctrl-btn:hover {
  color: var(--secondary);
  cursor: pointer;
}
